
#found-product img {
  width: auto;
}

#found-product product-description {
  color: red;
}

.leftAlign {
  text-align: left !important;
}

#found-product button {
  width: 90%;
}

/* #MatchFoundPage * {
  margin: 2px !important;
} */

.receipt-image {
  border: 1px solid black;
}

#SourcePrice {
  margin-left: auto !important;
}

#CongratulationsSector * {
  margin: 0 5%;
  padding: 0 5px;
}

#previous {
  justify-content: flex-start !important;
}


